.shadow {
  position: sticky;
  top: 0px;
  z-index: 999;
  background: white;
  height: 66px;
  -webkit-box-shadow: 0 8px 6px -6px rgb(190, 186, 186);
  -moz-box-shadow: 0 8px 6px -6px rgb(196, 189, 189);
  box-shadow: 0 8px 6px -6px rgb(224, 219, 240);
}

.blank-div {
  background-color: white;
  height: 0.5in;
}

.nav-div {
  margin-top: 40px;
}

.headerMenu a {
  position: sticky;
  top: 20px;
  z-index: 999;
  text-decoration: none;
  font-size: 25px;
  letter-spacing: 1.2px;
  font-family: "Yomogi", cursive;
  color: rgb(30, 30, 54);
  text-align: center;
  margin-left: 8.3%;
}

.headerMenu a:hover {
  color: red;
}
