.logo {
  font-family: "Lexend Exa", sans-serif;
  color: #ffffff;
  text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
  font-size: 85pt;
  text-align: center;
}

.this {
  display: flex;
  flex-direction: column;
  background-image: url("https://wallpaperaccess.com/full/2312654.jpg");
  align-items: center;
  object-fit: contain;
  height: 100vh;
  width: 100%;
  animation: fadeIn 6s;
  -webkit-animation: fadeIn 6s;
  -moz-animation: fadeIn 6s;
  -o-animation: fadeIn 6s;
  -ms-animation: fadeIn 6s;
}

.mainIntro {
  margin-top: 12%;
}

.glow-on-hover {
  margin-top: 90px;
  width: 200px;
  height: 50px;
  border: none;
  outline: none;
  color: rgb(128, 120, 120);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-family: "Satisfy", cursive;
  font-size: 0.22in;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #f39e9e,
    #f7d2b3,
    #e9e8b3,
    #c3f3b0,
    #b4f3e9,
    #c3cbf1,
    #d4baf0,
    #f5bfe9,
    #f7b6b6
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: rgb(46, 43, 43);
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: gainsboro;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
