.blogs {
  font-family: "Lexend Exa", sans-serif;
  color: grey;
  font-size: 20pt;
  text-align: center;
  font-family: "Satisfy", cursive;
}

.photoblog {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  max-width: 340px;
  max-height: 190px;
  padding: 3px;
  border: 3px solid #dbe0e7;
  background-color: rgb(170, 166, 166);
}

.userimg {
  margin-top: 30px;
  margin-bottom: 15px;
}

.user_library {
  margin-top: 0.3in;
  display: grid;
  grid-template-columns: repeat(3, 1.5fr);
  grid-template-rows: repeat(2, 1.5fr);
  grid-gap: 13px;
  padding: 0.25in;
}

.onDiv {
  margin: 5px;
  box-shadow: 5px 10px 8px #d7d4dd;
  animation: fadeIn 6s;
  -webkit-animation: fadeIn 6s;
  -moz-animation: fadeIn 6s;
  -o-animation: fadeIn 6s;
  -ms-animation: fadeIn 6s;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
